.contact-form {
    width: 600px;
    margin: auto;
    padding-top: 50px;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: black solid 3px;
    border-radius: 40px;
    padding: 10px;
    justify-content: center;
}

label{
    margin-bottom: 5px;
}

input, textarea {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #ff6b6b;
    color: black;
    border: none;
    cursor: pointer;
    width: 400px;
    margin: 0 auto;
    display: block;
    box-shadow: 0 4px 6px grey;
}

button:hover {
    background-color: #ffa3a3;
}

h2, p {
    text-align: center;
}

h2 span, p span {
    border-bottom: black solid 2px;
    display: inline-block;
    padding-bottom: 5px;
}