* {
    font-family: 'Verdana', sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}

h1 .hidden {
    visibility: hidden;
}

body {
    background-color: #b8dbd9;
    height: 100%;
    margin: 0;
}

#menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#menus {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff6b6b;
}

.dropdown {
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #ff6b6b;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#menus li {
    border-right: 1px solid #bbb;
    overflow: hidden;
}

#menus li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menus li a:hover {
    background-color: #ffa3a3;
}

#menus li:last-child {
    border-right: none;
}

@media only screen and (max-width: 600px) {
    header {
        padding-bottom: 50px;
    }
    body {
        margin-top: 100px;
        justify-content: center;
    }
    #menu {
        width: 100%;
    }

    #menus {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #menus li {
        margin: 5px;
    }

    #menus a {
        text-decoration: none;
        font-size: 14px;
        color: #333;
        padding: 10px;
        display: block;
        text-align: center;
        background-color: #f5f5f5;
        border-radius: 5px;
    }

    #menus a:hover {
        background-color: #ddd;
    }

    .dropdown-content {
        display: none;
        position: sticky;
        background-color: #f9f9f9;
        width: 100%;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}