.previousProjects {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.currentProject {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.previousProjectsContainer {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.currentProjectsContainer{
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.projectCard {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 1.5em;
    }

    ul{
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    li{
        flex-grow: 1;
        text-align: center;
    }

    li a {
        padding: 10px 8px;
        font-size: 0.9em;
    }

    .previousProjects, .currentProject {
        max-width: 100%;
    }

    .previousProjectsContainer, .currentProjectsContainer {
        flex-direction: row;
    }

    .projectCard {
        min-width: 100%;
    }

    body {
        padding-top: 60px;
        margin: 0;
    }

    #menu {
        position: fixed;
    }
}