.slideshow-container {
    max-width: 1050px;
    position: relative;
    margin: auto;
}

.project-card {
    display: none;
}

.bankaccount {
    width: 100%;
}

.fitnessapp {
    width: 100%;
}

.pythonapapp {
    width: 100%;
    padding-top: 50px;
}

.skirental {
    width: 100%;
}

.t-shirt {
    width: 100%;
}

.videorental {
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
}

.text-1 {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 8px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

h3 {
    text-align: center;
}