.slideshow-container {
    max-width: 1050px;
    position: relative;
    margin: auto;
}

.project-card {
    display: none;
    /*margin-top: 100px;*/
}

.bankaccount {
    width: 100%;
    /*margin-top: 100px;*/
}

.fitnessapp {
    width: 100%;
    /*margin-top: 100px;*/
}

.pythonapapp {
    width: 100%;
    /*padding-top: 50px;*/
    /*margin-top: 100px;*/
}

.skirental {
    width: 100%;
    /*margin-top: 100px;*/
}

.t-shirt {
    width: 100%;
    /*margin-top: 100px;*/
}

.videorental {
    width: 100%;
    /*margin-top: 100px;*/
}

.pokemon {
    width: 100%;
    /*margin-top: 100px;*/
}

.birb {
    width: 100%;
    /*margin-top: 100px;*/
}

.donut {
    width: 100%;
    /*margin-top: 100px;*/
}

.donut-slideshow .prev, .donut-slideshow .next {
    color: white;
}

.UnityProject1 {
    width: 100%;
    /*margin-top: 100px;*/
}

.project-card-9 .text, .project-card-10 .text, .donuts .text{
    margin-bottom: 40px;
}

.UnityProject2 {
    width: 100%;
    /*margin-top: 100px;*/
}

.personal {
    width: 100%;
    /*margin-top: 100px;*/
}

.nationalpark {
    width: 100%;
}

.prototype {
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 50px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
}

#fitness .text, #videos .text {
    bottom: 200px;
}

#ski .text, #tshirt .text, #parks .text {
    bottom: 80px;
}

.text-1 {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: -50px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    margin-top: 100px;
}

.description {
    margin-top: 5px;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

h3 {
    text-align: center;
    margin-top: 100px;
}

.bankaccount, .fitnessapp, .pythonapapp, .skirental, .t-shirt, .videorental, .pokemon, .birb, .donut, .UnityProject1, .UnityProject2, .personal {
    box-shadow: 0 0 24px 16px rgba(0,0,0,0.75);
}

@media only screen and (max-width: 600px) {
    #bank .text, #ski .text, #tshirt .text {
        bottom: 135px;
    }

    #fitness .text {
        bottom: 450px;
    }

    #videos .text {
        bottom: 370px;
    }

    #score .text, #pokemon .text, #donut .text, #personal .text {
        bottom: 80px;
    }
}