hr {
    height: 3px;
    background-color: black;
}

h3 {
    padding-top: 30px;
}

#skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.experience {
    font-weight: bold;
}

.re {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    #skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}